@font-face {
    font-family: 'FontColors';
    src:  url('colors.woff') format('woff');
  }

  .fc {
    font-family: 'FontColors', sans-serif;
    display: inline-block;
    font: normal normal normal 14px/1 FontColors;
    font-size: 14px;
    text-rendering: auto;
    text-transform: none;
 }

 .hamburger::before {
    content: "1";
}

.user::before {
    content: "m";
/* position: relative; */
 }

 .cart::before {
    content: "3";
 }

 .fc-close::before {
    content: "x";
 }

header {
    height: 60px;
    background-color: darkkhaki;
    padding: 10px;
    /* overflow: hidden; */
}

header::cue {
content: '';
display: table;
clear: both;
}

.side-nav {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 30px;
    background-color: #fa766a;
}

.side-nav .close i.fc {
    color: #ffffff;
    font-size: 28px;
}

.side-nav ul {
    list-style: none;
    margin: 37px 0 0;
}


.side-nav ul li a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 34px;
    color: #ffffff;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    touch-action: none;
    padding: 10px 0;
    display: inline-block;
}

.side-nav ul li.plus span {
    margin-left: 10px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 34px;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    font-weight: 500;
    cursor: pointer;
}

.side-nav ul li.plus div {
    display: inline-block;
}   

.side-nav ul ul {
    display: none;
    margin: 0 0 10px;
    transition: all 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nav-collections {
    transition: all 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#pliusas:checked .side-nav ul li.plus label div {
    transform: rotate(45deg);
}


#pliusas:checked + ul.nav-collections {
    display: block;
}

.side-nav ul ul li {
    margin: 0;
    padding-left: 15px;
}

.side-nav ul ul li a {
    font-size: 24px;
    font-weight: 500;
    padding: 5px 0 5px;
}


/* header nav {
    float: left;
    margin-top: 10px;
} */

/* header nav ul li {
    display: inline-block;
    padding: 0 7px;
} */

/* header ul li label {
    display: inline-block;
    padding: 0 7px;
} */

header nav ul li a {
    color: black;
    line-height: 20px;
}

header ul.icons {
    float: right;
    margin-top: 10px;
}

header ul.icons li {
    display: inline-block;
    padding: 0 7px;
}

header ul.icons li a {
    color: grey;
    line-height: 20px;
}

header ul.icons li label {
    color: grey;
    line-height: 20px;
    cursor: pointer;
}

h1 {
    text-align: center;
    background-color: lightblue;
    padding: 30px;
    color: olive;
    font-size: 60px;
}

img {
    width: 100%;
    height: auto;
}

.gallery {
    letter-spacing: -.31em;;
    font-size: 0;
    /* padding-top: 2px; */
    }


.gallery .image {
width: 33.33333%;
display: inline-block;
/* padding: 2px; */
}

.hamburger {
    display: inline-block;
    /* display: none; */
} 

/* @media screen and (min-width: 800px) and (max-width: 2020px){ 
    #ham.checked + header {
        margin-bottom: 225px;
    } 

    .hamburger {
        display: inline-block;
    } 

    header {
        margin-bottom: 225px;
    }

    header nav {
        float: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
        
    }

    #ham.checked + header nav {
        margin-bottom: 225px;
    } 

    header nav ul li {
        display: block;
        padding: 10px 7px;
        width: 100%;
        border-bottom: 1px solid black;
    }

    header nav ul li a {
        color: black;
        line-height: 22px;
        font-size: 22px;
        
        display: block;
    }

}  */