.grid-container {
    letter-spacing: -.31em;
    text-rendering: optimizeSpeed;
}

.ls {
    letter-spacing: normal;
    text-rendering: auto;
}

.sm-1, 
.sm-1-1,
.sm-1-2,
.sm-1-3,
.sm-1-4,
.sm-1-6 {
    display: inline-block;
    letter-spacing: normal;
    text-rendering: auto;
}

.kolekcijos .kolekcija {
    height: 200px;
}

.sm-1,
.sm-1-1,
.sm-nil-1 {
    width: 100%;
}
.sm-1-2 {
    width: 50%;
}
.sm-1-3 {
    width: 33.33333%;
}
.sm-1-4 {
    width: 25%;
}
.sm-1-6 {
    width: 16.66667%;
}

/* .iskelti_pr .iskeltas .container .right {
    float: none;
    width: 100%;
} */

/* .iskelti_pr .iskeltas {
    height: calc((100vw - 30px) * 1.0);
} */

.iskelta_kolekcija .kolekcijos_headeris ul {
    overflow: scroll;
    display: block;
    white-space: nowrap;
    padding: 0 0 10px;
}

.footeris .top .col {
    margin-bottom: 30px;
}

.footeris .top .col.right {
    text-align: left;
    padding-left: 0;
    padding-right: 20px;
}
/* ---------------------Footerio apačia - mobiliojo ekranas--------------- */ 
/* .footeris .bottom .right {
    float: none;
    width: 100%;
 }
 
 .footeris .bottom .left {
    float: none;
    width: 100%;
 } */
 
 
/* ---------------------Iškeltas produktas - mobiliojo ekranas--------------- */ 
/* .iskelti_pr .iskeltas .container {
    max-width: 1100px;
    height: calc((100vw - 30px) * 1.0);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.iskelti_pr .iskeltas .container .right {
    float: none;
    width: 100% !important;
}

.iskelti_pr .iskeltas .container .right a .image-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

@media screen and (min-width: 620px) {
.md-1,
.md-1-1 {
    width: 100%;
}
.md-1-2,
.md-nil-1-2 {
    width: 50%;
}
.md-1-3 {
    width: 33.33333%;
}
.md-1-4 {
    width: 25%;
}
.md-1-6 {
    width: 16.66667%;
}
.kolekcijos {
    margin: 20px 20px 0;
}

.kolekcijos .kolekcija {
    height: 340px;
}

.iskelta_kolekcija .kolekcijos_headeris ul {
    overflow: scroll;
    display: block;
    white-space: nowrap;
    padding: 0 0 10px;
}

.footeris .top .col {
    margin-bottom: 30px;
}

.footeris .top .col.right {
    text-align: left;
    padding-left: 0;
    padding-right: 20px;
}
/* ---------------------Footerio apačia - midi ekranas--------------- */
/* .footeris .bottom .right {
    float: right;
 }
 
 .footeris .bottom .left {
    float: left;
 }
 
 .footeris .bottom {
    content: '';
    display: table;
    clear: both;
 } */

/* ---------------------Iškeltas produktas - midi ekranas--------------- */ 
/* .iskelti_pr .iskeltas .container {
    max-width: 1100px;
    height: calc((100vw - 30px) * 1.0);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.iskelti_pr .iskeltas .container .right {
    float: none;
    width: 100% !important;
}

.iskelti_pr .iskeltas .container .right a .image-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */
/* ----------------------------------------- */

}

@media screen and (min-width: 960px) /*and (max-width: 2020px)*/{
    .lg-1,
    .lg-1-1 {
        width: 100%;
    }
    .lg-1-2 {
        width: 50%;
    }
    .lg-1-3 {
        width: 33.33333%;
    }
    .lg-1-4,
    .lg-nil-1-4 {
        width: 25%;
    }
    .lg-1-6 {
        width: 16.66667%;
    }
    .kolekcijos {
        margin: 20px 30px 30px 20px;
    } 

    .kolekcijos .kolekcija {
        height: 380px;
    }

    .iskelta_kolekcija .kolekcijos_headeris ul {
        overflow: hidden;
           }

    .footeris .top .col {
            margin-bottom: 0;
    }

    .footeris .top .col.right {
        text-align: right;
        padding-left: 30px;
        padding-right: 0;
    }
/* ---------------------Footerio apačia - didelis ekranas--------------- */
    /* .footeris .bottom .right {
        float: right;
     }
     
     .footeris .bottom .left {
        float: left;
     }
     
     .footeris .bottom {
        content: '';
        display: table;
        clear: both;
     } */



/* ---------------------Iškeltas produktas - visas ekranas--------------- */
    /* .iskelti_pr .iskeltas .container {
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    
    .iskelti_pr .iskeltas .container .right {
        width: 60%;
        height: 100%;
        float: right;
    }
    
    .iskelti_pr .iskeltas .container .right a .image-container {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    } */
/* -------------------------------------------------------------------------- */
}